.score {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 1.5em;
  padding-top: 3em;
}

.scoreIncrement {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  margin-top: 1.3em;
  animation-name: scoreIncrementFadeOutAnimation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.2s;
}

.overlay {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayItems {
  margin-bottom: 10em;
}

@keyframes scoreIncrementFadeOutAnimation {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -30px;
  }
}
