.centerMenuLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.menuItemGroup {
  display: flex;
  justify-content: space-between;
}
