html {
  height: 100%;
  /* Used in Material UI Theme */
  /* Browser Default is 16px */
  font-size: 100%; /* 100% of 16px = 16px */
  font-family: 'Seymour One', sans-serif;
  /* Unsupported Sizes */
  min-width: 300px;
}
body {
  min-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
}
#root {
  height: 100%;
}

/*
h1 {
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}

h2 {
  font-weight: 300;
  font-size: 3.25rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

h3 {
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 1.167;
  letter-spacing: 0em;
}

h4 {
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

h5 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}

h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
*/

/*
button {
  padding: 1em;
}
*/

code {
  padding: 0.1em;
}
